In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("D:\BCA\Data Science Excelr\AI\AI-ML-DL\Social_Network_Ads.csv")

In [3]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [5]:
df['Purchased'].unique()

array([0, 1], dtype=int64)

In [6]:
df['Purchased'].value_counts()

0    257
1    143
Name: Purchased, dtype: int64

In [9]:
#split data in x and y
x = df.iloc[:,2:4].values
y = df.iloc[:,4].values

In [11]:
#split in train and split
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=40)
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((320, 2), (80, 2), (320,), (80,))

In [30]:
#build model
from sklearn.linear_model import LogisticRegression

In [31]:
model = LogisticRegression()
model.fit(x_train,y_train)

LogisticRegression()

In [32]:
x_pred = model.predict(x_test)

In [34]:
#confussion matrix
from sklearn.metrics import confusion_matrix,accuracy_score
cm = confusion_matrix(y_test,x_pred)
cm

array([[56,  0],
       [24,  0]], dtype=int64)

In [35]:
accuracy_score(y_test,x_pred)

0.7

In [36]:
((56+0)/(56+0+24+0))*100

70.0